# Unversioned files and folders.
# References at https://git-scm.com/docs/gitignore.

# Finder's configuration files (Mac).
.DS_Store

# Node.js modules.
node_modules/

# NPM's lockfile, Plug'n'Play, folder and settings.
# We're using yarn, and it provides its lockfile and settings.
.pnp.*
package-lock.json
npm-shrinkwrap.json

# pnpm's lockfile, workspace definitions and hooks.
# We're using yarn, and it provides its lockfile and settings.
pnpm-lock.yaml
pnpm-workspace.yaml
pnpmfile.js

# Log files.
*.log
*.log.*
